model_sentiment_output/csv/summaries_models/siebert/bootstrap_emms.rds
model_sentiment_output/csv/summaries_models/regard/bootstrap_emms.rds
.venv
tmp_trainer
.vscode
__pycache__
*.ipynb
.lintr
tmp_trainer/
.RData
.Rhistory
.git